/**
 * Core tabletrim.js styles
 * Alter at your own risk
 */
.tabletrim-ltr { direction: ltr; }
.tabletrim-rtl { direction: rtl; }
.tabletrim-controls { display: inline-block; direction: ltr; }
.tabletrim-select,
.tabletrim-title,
.tabletrim-label,
.tabletrim-prev,
.tabletrim-next { display: inline-block; margin-right: 10px; }
.tabletrim-trimmed td, .tabletrim-trimmed th { display: none; }
.tabletrim-trimmed th.tabletrim-active,
.tabletrim-trimmed td.tabletrim-active, 
.tabletrim-trimmed th.tabletrim-sticky,
.tabletrim-trimmed td.tabletrim-sticky { display: table-cell; }

